body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
    position: relative;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-justify: left;
    justify-self: center;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid black;
}

.container img {
    padding-bottom: 10px;
    width: 300px;
    justify-self: center;
}

.container button {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    border: 1px dotted #ccc;
    box-sizing: border-box;
    margin-top: 20px;
    width: 50%;
    justify-self: center;
    background-color: transparent;
    color: black;
}

.container button:focus, .container button:active {
    outline: none;
    background-color: transparent;
    color: black;
}

.container button:hover {
    background-color: black;
    color: white;
}

#loginForm {
    display: grid;
    place-content: center;
    padding: 16px;
    height: 100%;
    justify-self: center;
    justify-items: center;
    position: relative;
    z-index: 2;
}

/* Moving Dotted Lines Background */
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.line {
    position: absolute;
    width: 1px; /* Thin lines */
    height: 400%; /* Make the lines 4x longer */
    background: black; /* Black lines */
    animation: moveLines 10s linear infinite;
    border-left: 1px dotted black; /* Dotted line effect */
}

@keyframes moveLines {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}
